!!!5
html
  head
    title= title
    link(rel="stylesheet", href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap.no-icons.min.css")
    style(type="text/css")
      #content { padding-top: 60px;}
  body
    .topbar-wrapper
      .topbar
        .topbar-inner
          .container
            h3: a(href="/") My Coffeepress Blog
            ul.nav
              li: a(href="/post/new") New Post
